tbody {
    height: 100%;
    width: 100%;

}
.jumbotron{
    color: white;
    background-color:rgb(4, 4, 146);
    text-align: center;

}

.row{
    color:  green;
    background: gray;

}
table {
    color: white;
    background-color: blue;

}
th {
    color: white;

}
.form-group {
    color: gray;
    background-color: gray;
}
tbody {
    color: black
    
}